In [98]:
import numpy as np
import pandas as pd
import openweathermapy.core as own
from datetime import datetime as dt
''' 
cityid = 6167865
apikey = 'a5bbf571539ed962c45eafc7aaf47d0a'
url = 'http://api.openweathermap.org/data/2.5/forecast?id={}&APPID={}'.format(cityid,apikey)

res = requests.get(url)
data = res.json()
df = json_normalize(data)
'''

" \ncityid = 6167865\napikey = 'a5bbf571539ed962c45eafc7aaf47d0a'\nurl = 'http://api.openweathermap.org/data/2.5/forecast?id={}&APPID={}'.format(cityid,apikey)\n\nres = requests.get(url)\ndata = res.json()\ndf = json_normalize(data)\n"

In [99]:
data = own.get_forecast_hourly("Toronto,CA", APPID = 'a5bbf571539ed962c45eafc7aaf47d0a', units='metric')

In [100]:
conv = {"dt": lambda ts: str(dt.utcfromtimestamp(ts))}

selection = data.select(['dt','main.temp'], converters=conv)

In [101]:
datelist = pd.date_range(selection[0][0],periods=24*5, freq ='h')

In [102]:
df1 = pd.DataFrame(datelist,columns=['Date'])
df1.set_index('Date',drop=True,inplace=True)
df2 = pd.DataFrame(selection,columns=['Date','Temp'])
df2.set_index('Date',drop=True,inplace=True)

In [103]:
results = df1.join(df2,how='left')

In [104]:
results = results.interpolate()

In [105]:
results.head()

                          Temp
Date
2018-06-22 00:00:00  18.950000
2018-06-22 01:00:00  17.680000
2018-06-22 02:00:00  16.410000
2018-06-22 03:00:00  15.140000
2018-06-22 04:00:00  14.443333